.chart {
    flex: 2.9;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

.chart__title{
    margin-bottom: 20px;
}
.chart__grid{
    stroke: rgb(228, 225, 225);
}