
.addProduct{
    display: flex;
    width: 100%;
}
.addProduct__container{
    flex: 6;
}


.addProduct__fromContainer{
    display: flex;
    gap: 20px;
}
.formContainer__left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formContainer__right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__information{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}
.addProduct__media{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}
.addProduct__pricing{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}
.addProduct__organize{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

