
.addProduct{
    display: flex;
    width: 100%;
}
.addProduct__container{
    flex: 6;
    padding: 20px;
}
.addProduct__title{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
