.dark{
    background-color: #161c24;
    color: rgb(156, 156, 156);
}
.dark .chart__grid{
    stroke: rgb(156, 156, 156);
}
.dark .transactionTable .table{
    background-color: rgb(33, 43, 54)
}
.dark .transactionTable .tableCell{
    color: gray;
}

.dark .navbar{
    background-color: rgba(22, 28, 36, 0.8);
    color: rgb(156, 156, 156);
    border-color: #969494;
}
.dark .navbar__search{
    background-color: rgba(22, 28, 36, 0.8);
    color: white;
    border-color: 969494;
}
.dark .sidebar{
    border-color: #969494;
}
.dark .sidebar__logo{
    color: gray;
}
.dark .sidebar hr{
    border-color: #969494;
}
.dark .sidebar__icon{
    font-size: 18px;
    color: gray;
}
.dark .sidebar__item:hover{
    background-color: rgba(145, 158, 171, 0.08);
}
.dark .chart,
.dark .chartBox,
.dark .widget {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.12) 0px 12px 24px -4px;
    -webkit-box-align: center;
    z-index: 0;
    background-color: rgb(33, 43, 54)
}
.dark .dataTable{
    color: gray !important;
}
.dark .dataTable .datagrid{
    -webkit-box-align: center;
    z-index: 0;
    background-color: rgb(33, 43, 54);
    color: gray;
    border: none;

}
.dark .active {
    background-color: #484e75;
    color: #dfe2f1;
  }
  .dark .pending {
    background-color: #484e75;
    color: goldenrod;
  }
  .dark .passive {
    background-color: #484e75;
    color: crimson;
  }

  .dark .productAdd__link,
  .dark .usersAdd__link{
    background-color: #484e75;
  }
  
 .dark .darkBg{
    background-color: whitesmoke;
}