
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    height: 50px;
    border-right: 0.5px solid rgb(230, 227, 227);
    border-bottom: 0.5px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    padding-bottom: 10px;
}
.navbar__wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__search{
    display: flex;
    flex: 0.4;
    align-items: center;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 3px;
    background: #eef3f8
}
.navbar__search input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
}
.navbar__search input::placeholder{
    font-size: 12px;
}
.navbar__items{
    display: flex;
    align-items: center;
}
.navbar__item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.navbar__icon{
    font-size: 20px !important;
}
.navbar__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar__counter{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}